.contenedor-anuncios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.box-nuevo-anuncio {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #bdbdbd;
    font-size: 60px;
    text-align: center;
    -webkit-box-shadow: -1px 7px 13px -4px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 7px 13px -4px rgba(0,0,0,0.15);
	box-shadow: -1px 7px 13px -4px rgba(0,0,0,0.15);
    cursor: pointer;
    padding: 75px;
}

.box-nuevo-anuncio:hover {
    border: 1px solid #41B883;
}

.box-anuncio {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: -1px 7px 13px -4px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 7px 13px -4px rgba(0,0,0,0.15);
	box-shadow: -1px 7px 13px -4px rgba(0,0,0,0.15);
    cursor: pointer;
}

.box-anuncio:hover {
    border: 1px solid #41B883;
}

.imagen-anuncio {
    width: 100%;
    height: 100px;
    background-color: #41B883;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contenido-anuncio {
    text-align: center;
    padding: 10px;
}

.titulo-box-anuncio {
    font-size: 20px;
    font-weight: 500;
    color: #41B883;
}

.descripcion-box-anuncio {
    font-size: 14px;
    color: #34495E;
}

.tag-premium-1 {
    width: 70px;
    height: 16px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #ffb224;
    color: #ffffff;
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
}

.tag-premium-0 {
    width: 70px;
    display: none;
}

.modal-title {
    color: #34495E;
}

.formulario-anuncio {
    display: block;
	padding: 20px;
}

.btn-guardar {
	background-color: #41B883;
	color: #ffffff;
	width: 120px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
	padding: 7px;
    cursor: pointer;
}

.btn-guardar:hover {
    background-color: #329066;
}

.btn-eliminar {
	color: #ffffff;
    background-color: #ff8383;
	width: 170px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
	padding: 7px;
    cursor: pointer;
}

.btn-eliminar:hover {
    background-color: #ca4949;
}

.info-anuncio {
    width: 100%;
    font-size: 14px;
    color: #34495E;
    text-align: center;
    padding: 30px;
    margin-bottom: -40px;
}

.box-productos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #34495E;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.box-nuevo-producto {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #e8e8e8;
    border-radius: 10px;
    color: #464646;
    font-size: 30px;
    text-align: center;
    -webkit-box-shadow: -1px 7px 13px -4px rgb(0 0 0 / 15%);
    -moz-box-shadow: -1px 7px 13px -4px rgba(0,0,0,0.15);
    box-shadow: -1px 7px 13px -4px rgb(0 0 0 / 15%);
    cursor: pointer;
    padding: 20px;
}

.box-nuevo-producto:hover {
    border: 1px solid #41B883;
}

/*ANIMACION INPUTS FORM*/

input {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #34495E;
    color: #34495E;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
}
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#41B883;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

::placeholder {
  color: #34495E;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #34495E;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #34495E;
}

.input-foto {
    margin-top: 20px;
}

.custom-file-label {
    color: #34495E;
	text-align: left;
}

.custom-file-label::after {
    color: #ffffff;
    content: "Seleccionar";
    background-color: #41B883;
    border-left: 1px solid #ced4da;
}

/*FIN ANIMACION INPUTS FORM*/

/*CHECK PREMIUM*/

.pure-material-checkbox {
    z-index: 0;
    position: relative;
    margin-top: 30px;
    display: inline-block;
    color: #000000ab;
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.pure-material-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: #34495E;
}

/* Box */
.pure-material-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
    background-color: #41B883;
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
    border-color: #41B883;
    background-color: #41B883;
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
    border-color: #ffffff;
}

.pure-material-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover > input {
    opacity: 0.04;
}

.pure-material-checkbox > input:focus {
    opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
    border-color: #41B883;
}

.pure-material-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.pure-material-checkbox > input:disabled {
    opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
    border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}

/*FIN CHECK PREMIUM*/

/*ANIMACION LOADING REGISTRO*/

.lds-ring-destacados {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	margin-left: calc(50% - 40px);
  }
  .lds-ring-destacados div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #41B883;
	border-radius: 50%;
	animation: lds-ring-destacados 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #41B883 transparent transparent transparent;
  }
  .lds-ring-destacados div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring-destacados div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring-destacados div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring-destacados {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
/*FIN ANIMACION LOADING REGISTRO*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .contenedor-anuncios {
        justify-content: flex-start;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}